<section class="container confirmation">
  <div class="row">
    <div class="confirmation__container">
      <img src="images/brandenburger_tor.png" class="confirmation__icon">
    </div>

    <div class="col-md-offset-1 col-md-6">

      <h1 class="confirmation__heading confirmation__heading">Thank you for signing up!</h1>
      <p class="confirmation__intro">&ldquo;You'll soon be able to see real time salary estimates based on your GitHub profile right here... Stay tuned, young Grasshopper.&rdquo; - Sohraab Joshi</p>

    </div>
  </div>
