
<section class="container prospects">
  <div class="row">

    <div class="col-md-4 col-md-push-8">
      <%= erb :"index/prospect_steps" %>
    </div>

    <div class="col-md-7 col-md-pull-4">
      <h1 class="prospects__heading prospects__main-heading">What's in the pot for you?</h1>
      <p class="prospects__intro">Ever thought about how much a software developer with your skills earns in Berlin?</p>
      <%= erb :"index/prospects_form" %>
    </div>


  </div>
</section>
