<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What Am I Worth</title>

    <link href="/assets/index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
