<div class="container">
  <div class="col-xs-12">
    <div class="panel panel-default legal__panel">
      <div class="panel-heading">Legal Notice</div>
      <div class="panel-body">
        <p class="text-left"><em>Information in accordance with section 5 TMG:</em><br><strong>Honeypot GmbH</strong></p>
        <p class="text-left"><strong>Address</strong><br>Schönhauser Allee 4510435 Berlin, Germany</p>
        <p class="text-left"><strong>Contact</strong><br>Phone: +49 (0)151 418 54 971E-Mail: hello@honeypot.io<br>Managing Directors: Kaya Taner, Emma TraceyCommercial Register: Amtsgericht Charlottenburg, HRB 167934 B<br>VAT-id: DE300856850</p>
        <p class="text-left">Responsible for content pursuant to sec 55 subsection 2 of the interstatebroadcasting compact (RStV): Kaya Taner.</p>
        <br><strong>Privacy Policy</strong>
        <p class="text-left"><br>This privacy policy discloses the privacy practices for whatamiworth.io.It will notify you of the following:</p>
        <ol>
          <li>What personally identifiable information is collected from you through theweb site, how it is used and with whom it may be shared.</li>
          <li>What choices are available to you regarding the use of your data.</li>
          <li>The security procedures in place to protect the misuse of your information.</li>
          <li>How you can correct any inaccuracies in the information.</li>
          <li>Use of cookies</li>
          <li>Use of Google Analytics</li>
        </ol>
        <br>
        <p></p>
        <p><strong>Information Collection, Use, and Sharing</strong></p>
        <p>We are the sole owners of the information collected on this site. We only haveaccess to/collect information that you voluntarily give us via whatamiworth.io,email or other direct contact from you.</p>
        <p>We will not share your information with any third party outside of ourorganization, other than as necessary to fulfill your request.</p>
        <br>
        <p></p>
        <p><strong>Your Access to and Control Over Information</strong></p>
        <p>You may opt out of any future contacts from us at any time. You can do thefollowing at any time by contacting us via the email address or phone numbergiven on our website:</p>
        <li>See what data we have about you, if any.</li>
        <li>Change/correct any data we have about you.</li>
        <li>Have us delete any data we have about you.</li>
        <li>Express any concern you have about our use of your data.</li>
        <p></p>
        <br>
        <p></p>
        <p><strong>Security</strong></p>
        <p>We take precautions to protect your information. When you submit sensitiveinformation via the website, your information is protected both online andoffline.</p>
        <p>Wherever we collect sensitive information, that information is encryptedand transmitted to us in a secure way. You can verify this by looking fora closed lock icon at the bottom of your web browser, or looking for "https"at the beginning of the address of the web page.</p>
        <p>While we use encryption to protect sensitive information transmitted online,we also protect your information offline. Only employees who need theinformation to perform a specific job (for example, billing or customerservice) are granted access to personally identifiable information.The computers/servers in which we store personally identifiable informationare kept in a secure environment.</p>
        <br>
        <p></p>
        <p><strong>Updates</strong></p>
        <p>Our Privacy Policy may change from time to time and all updates will beposted on this page.</p>
        <br>
        <p></p>
        <p><strong>Use of Cookies</strong></p>
        <p>This website uses cookies to better the users experience while visitingthe website.</p>
        <p>Cookies are small files saved to the user's computers hard drive that track,save and store information about the user's interactions and usage of thewebsite. This allows the website, through its server to provide the userswith a tailored experience within this website.</p>
        <p>Users are advised that if they wish to deny the use and saving of cookiesfrom this website on to their computers hard drive they should takenecessary steps within their web browsers security settings to block allcookies from this website and its external serving vendors.</p>
        <p>This website uses tracking software to monitor its visitors to betterunderstand how they use it. This software is provided by Google Analyticswhich uses cookies to track visitor usage. The software will save a cookieto your computers hard drive in order to track and monitor your engagementand usage of the website, but will not store, save or collect personalinformation. You can read Google's privacy policy here for furtherinformation http://www.google.com/privacy.html.</p>
        <p>Other cookies may be stored to your computers hard drive by external vendorswhen this website uses referral programs, sponsored links or adverts. Suchcookies are used for conversion and referral tracking and typically expireafter 30 days, though some may take longer. No personal information isstored, saved or collected.</p>
        <br>
        <p></p>
        <p><strong>Use of Google Analytics</strong></p>
        <p>Google Analytics is a web analysis service provided by Google. Googleutilizes the data collected to track and examine the use of whatamiworth.io, toprepare reports on its activities and share them with other Google services.</p>
        <p>Google may use the data collected to contextualize and personalize the adsof its own advertising network.</p>
        <p>Personal data collected: Cookie and Usage Data. Place of processing: USA.Find Google's privacy policy here.</p>
        <br>
        <p></p>
        <p><strong>Terms of Service</strong></p>
        <p>Honeypot's&nbsp;<a href="https://www.honeypot.io/pages/terms_of_service">Terms of Service&nbsp;</a>apply where applicable.</p>
        <p></p>
      </div>
    </div>
  </div>
</div>
