$fg-color: #43484d;
$bg-color: #ffffff;
$accent-color: #3685d6;
$accent-color-border: #3685d6;
$accent-color-hover: #256cb4;
$accent-color-hover-border: #2367ac;
$accent-color-hover-focus:  #256cb4;
$accent-color-hover-focus-border: #184675;
$honeypot-yellow: #ffba00;
