.container__confirmation {
    padding-top: 50px;
}

.container__confirmation h1 {
    margin-bottom: 20px;
}

.confirmation__icon {
  width: 84px;
  height: 78px;
}

.confirmation__header {

}

.confirmation__intro {

}
