@import "bootstrap";
@import "prospects";
@import "confirmation";
@import "colors";

@font-face {
    font-family: "Proxima-Nova";
    src: url("https://www.honeypot.io/fonts/ProximaNova-Regular.otf") format("opentype");
}

h1, h2, h3, h4, h5, .btn {
    font-family: "Proxima-Nova", sans-serif;
}


html, body {
    color: $fg-color;
    background-color: $bg-color;
    font-family: "Proxima-Nova", sans-serif;
}

.legal__panel {
    color: #94a2b1;
}

.footer {
    padding-bottom: 100px;
    margin-top: 115px;
    font-size: 14px;
}

.footer__mascot {
    width: 26px;
    height: 33px;
    margin-top: -5px;
}

.honeypot-logo {
    width: 250px;
    float: right;
}

.header {
    color: $bg-color;
    background-color: $fg-color;
    padding-top: 30px;
}

.header h1 {
    line-height: 150px;
}
