$brand-primary: #ffba00;

@import "bootstrap";
@import "prospects";
@import "confirmation";

h1, h2, h3, h4, h5, .btn {
    font-family: 'Kanit', sans-serif;
}


html, body {
    color: #fff;
    background-color: #1f2228;
    font-family: 'Dosis', sans-serif;
}

.legal__panel {
    color: #94a2b1;
}

.footer {
    padding-bottom: 100px;
    margin-top: 115px;
    font-size: 14px;
}

.footer__mascot {
    width: 26px;
    height: 33px;
    margin-top: -5px;
}
